html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #000;
}

.container {
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}

.message {
  display: none;
}

.title {}

.testimonials {
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.testimonials__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 1200px;
}

.testimonials__title {}

.testimonials__lead {}

.testimonials__message {}

.message__author {}

.message__comment {}